{% extends 'system/base_form.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="padding:2cm">
<form method="post" action="{% url 'customer_register' %}" >
{% csrf_token %}
<h2>Customer Registration</h2><br><br>
 {{ form.errors }}
{{ form.non_field_errors }}

    {{account_form | crispy}}
{{customer_form | crispy}}

<br>
<div>
  <input type="submit" value="Submit" class="btn btn-primary"/>
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
</div>
</form>
{% endblock %}
