

{% extends 'system/base_form.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid" style="padding:2cm">
    <h2> Update Customer Salary</h2> <br><br>
    <form method="post" action="{% url 'customer_update_salary' customer_email=customer.e_id%}">
    {% csrf_token %}
	<div>
		<div class="col-md-12">
			<form class="form-horizontal" role="form">
				<div class="form-group">

					<label for="inputEmail3" class="col-sm-2 control-label">
						New Salary :
					</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="inputEmail3" name="salary"/>
					</div>
				</div>
                <br><br>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">

						<input type="submit" class="btn btn-primary" role="button" value="Submit">

					</div>
				</div>
			</form>
		</div>
	</div>
    </form>
</div>
{% endblock %}
<!--

<div class="container" style="padding:2cm">
<form method="post" action="{% url 'customer_update_salary' customer_email=customer.e_id%}">
    {% csrf_token %}

    Salary:<br>
    <div class="form-group">
    <input type="number" name="salary" value="customer.salary">
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>
    <br>
    <br>
<a href="{% url 'employee_details'%}" class="btn btn-primary">Back</a>
</div>
-->
